<h1>Potter Harry figth #index</h1>
<p>enjoy your choice</p>



<% @characters.each do |j|%>
<div class="card col-3 text-center">
  <div class="card-body">
    <h5 class="card-title"><%=j.name%></h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%= j.location%></h6>
    <p class="card-text"><%= j.house%></p>
  </div>
</div>
<%end%>